.CFUserTextEncoding
.DataGrip10/
.Trash/
.WebStorm11/
.android/
.astropy/
.atom/
.aws/
.babel.json
.bash_history
.bash_profile
.bash_profile-anaconda3.bak
.bash_sessions/
.cache/
.config/
.cups/
.docker/
.dropbox/
.elm/
.erlang.cookie
.eslintrc
.exercism.json
.gem/
.gitconfig
.gnupg/
.grip/
.heroku/
.hex/
.hgignore_global
.jsbeautifyrc
.local/
.matplotlib/
.mavensmate-config.json
.mix/
.netrc
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nvm/
.octave_hist
.oh-my-zsh/
.oracle_jre_usage/
.psql_history
.putty/
.python_history
.rnd
.ssh/
.subversion/
.tern-config
.v8flags.4.5.103.35.bp.json
.v8flags.4.6.85.31.bp.json
.v8flags.5.0.71.47.bp.json
.vim/
.viminfo
.yjp/
.z
.z.1558
.z.17366
.z.17764
.z.22263
.z.24767
.z.25648
.z.3125
.z.31641
.z.32293
.z.4033
.z.9729
.z.sh
.zsh-update
.zsh_history
Applications/
Aspire/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
WebstormProjects/
anaconda2/
anaconda3/
*.asc
exercism/
fbDataBackup.txt
fileZilla.zip
fileZilla.zip.gpg
kerl;
workspace/
*yubikey*
*zcompdump-Brendon*
